.contact-icons{
    list-style-type: none;
    margin: 0px;
    li{
        padding-bottom: 20px;
    }
   
}

.contact-link{
    font-size: 1.2em;
    color:white;
    img{
        max-height: 32px;
        max-width: 32px;
    }
}

.email-link{
    background-position:  -128.56px 0;
}
.align-contact{
    text-align:left;
}