<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Desmond Chan</title>
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/css/scrolling-nav.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav pull-left">
                    <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#skills">Skills</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul></div>
            <!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>
            
    <section id="intro" class="intro-section">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 ">
                   <img class="circuit-left" src="/assets/img/circuit-left.svg"/>
                  </div>
                <div class="col-lg-4 intro-header">
                    <h1>Desmond Chan</h1>
                    <h4>Software / Web Developer </h4>
                    <a class="btn btn-default" href="/assets/files/Resume.pdf">Resume</a>
                    
                </div>
               <!-- <div class="col-lg-4 ">
                    <img class="circuit-middle" src="/assets/img/circuit-middle.svg"/>
                  </div>-->
             
                <div class="col-lg-4 ">
                    <img class="circuit-right" src="/assets/img/circuit-right.svg"/>
                  </div>
             
            </div>
        </div>
    </section>
            
     <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
 
                </div>
                <div class="col-lg-8 about-me">
                    <h1>About Me</h1>
                    <p class="about-description">As a recent graduate of the B.Sc Computer Science program from the University of Calgary, I decided to further specialize in the field by studying web development at the Southern Alberta Institute of Technology.</br> Although I am still new to web development, I see myself as a critical thinker and a problem solver with a strong background in programming and I am always looking to improve my skills through learning new languages and frameworks.  </br>Recently I have moved to the Vancouver area and I am seeking new employment opportunities to grow my career in web or software development.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Skills Section -->
    <section id="skills" class="skills-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Skills</h1>
                    
                      <div class="skills-flex">
                    <div class="skill-image">
                    <div id="skillCarousel" class="carousel slide " data-ride="carousel" data-interval="false">
       
                   <div class="carousel-inner" role="listbox">
                    <div class="item active">
                    <img src="/assets/img/html5-logo.svg" class="skill-svg" alt="HTML5">
                  <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#htmlcollapse" onclick="heightToggle()">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="htmlcollapse" class="panel-collapse collapse" >
                            <div class="panel-body">
                         
                        <ul class="skill-description">
                        <li>Responsive webpage construction</li>
                        <li>Implementation of HTML fundamentals such as lists/tables/divs/spans</li>
                        <li>Using page structure elements such as sections/articles/asides</li>
                        <li>Semantic HTML coding</li>
                        <li>Creating links to images, emails and other webpages</li>
                        <li>Implementing accessibility options such as alt-text for images and skip to content buttons</li>

                        </ul>
               
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                    <img src="/assets/img/css3-logo.svg" class="skill-svg" alt="CSS3">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#csscollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="csscollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Using flexboxes to align items on a page</li>
                        <li>Creating basic CSS animations</li>
                        <li>Using SASS/SCSS preprocessors to easily maintain css files</li>
                        <li>Using class and id selectors</li>
                        <li>Using CSS properties to style html elements</li>
                        <li>Implementing media queries for responsive layouts</li>

                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                    <img src="/assets/img/js-logo.svg" class="skill-svg" alt="Javascript">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#jscollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="jscollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Creating objects and functions</li>
                        <li>Loops and conditionals</li>
                        <li>Using regular expressions,variables and data types</li>
                        <li>Calling javascript functions from HTML code</li>
                        <li>Using the jQuery library to animate elements on a page</li>               
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="item">
                    <img src="/assets/img/java-logo.svg" class="skill-svg" alt="Java">
                           <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#javacollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="javacollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>File reading/writing</li>
                        <li>Class and object creation</li>
                        <li>Polymorphism and encapsulation</li>
                        <li>Understanding local/instance/class variables</li>
                        <li>Exception handling and debugging</li>               
                        <li>Recursion and iteration</li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                        <div class="item">
                    <img src="/assets/img/php-logo.svg" class="skill-svg" alt="PHP">
                             <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#phpcollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="phpcollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Using cookies and sessions</li>
                        <li>Encrypting form data</li>
                        <li>Connecting to a MySQL database with PHP</li>
                        <li>Creating forms with validation using regular expressions</li>
                        <li>File reading/writing</li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="item">
                    <img src="/assets/img/MySQL-logo.svg" class="skill-svg" alt="MySQL">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#mysqlcollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="mysqlcollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Importing/exporting a database</li>
                        <li>Installing / maintaining databases with phpmyadmin and linux commands</li>
                        <li>Managing databases with MySQL Queries</li>
                        <li>Selecting / updating / deleting values and tables</li>
                        <li>Pairing MySQL with PHP for live updates to the database</li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                        <div class="item">
                    <img src="/assets/img/Bootstrap-logo.svg" class="skill-svg" alt="Bootstrap">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#bootcollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="bootcollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Creating modern website layouts</li>
                        <li>Designing websites for mobile devices</li>
                        <li>Implementing Bootstrap components such as carousels/accordion menus/stylized buttons </li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="item">
                    <img src="/assets/img/Wordpress-logo.svg" class="skill-svg" alt="Wordpress">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#wpcollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="wpcollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Setting up WordPress sites and linking them to databases</li>
                        <li>Installing themes and plugins</li>
                        <li>Further customizing themes using php, CSS and javascript</li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                        <div class="item">
                    <img src="/assets/img/aws-logo.svg" class="skill-svg" alt="Amazon Web Services">
                    
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="skill-set" data-toggle="collapse" data-parent="#accordion" href="#awscollapse">
                                Relevant Skill Set</a>
                            </h4>
                            </div>
                            <div id="awscollapse" class="panel-collapse collapse ">
                            <div class="panel-body">
                         <pre>
                        <ul class="skill-description">
                        <li>Setting up and installing packages on Amazon EC2 Instances</li>
                        <li>Using Amazon Route 53 DNS to set up and self-host a website</li>
                        <li>Installing phpmyadmin and mySQL on an EC2 instance</li>
                        </ul>
                    </pre>
                            </div>
                            </div>
                        </div>
                    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#skillCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#skillCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>

                    
                   <div class="skill-menu">
                        <div class="panel-group skill-size" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Front End Skills</a>
                            </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="0">HTML5</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="1">CSS3</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="2">Javascript</a>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Back End Skills</a>
                            </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="3">Java</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="4">PHP</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="5">MySQL</a>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Other Skills</a>
                            </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                    <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="6">Bootstrap</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="7">Wordpress</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="8">Amazon Web Services</a>
                            </div>
                            </div>
                        </div>
                        </div>
                     </div>
                    
                </div>
                    
                    
                </div>
              
            </div>
        </div>
    </section>
    
    <section id="contact" class="contact-section">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12">
                     <form method="post">
                         <h1>Contact</h1>
                           <div class="col-md-2"></div>
                           <div class="col-md-8">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control"></br>
                                <input id="email" name="email" type="email" placeholder="Email" class="form-control">
                            </div>
                     </form>
                 </div>
            </div>
        </div>
    </section>

            
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/scrolling-nav.js"></script>
    </body>
</html>