<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Desmond Chan</title>
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!--<img class="circuit-top" src="/assets/img/circuit-left.svg"/>
        <img class="circuit-right" src="/assets/img/circuit-right.svg"/>-->
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav ">
                    <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#about">Profile</a></li>
                    <li><a class="page-scroll" href="#skills">Skills</a></li>
                    <li class="dropdown">
                        <a class="page-scroll" href="#project">Projects <i class="glyphicon glyphicon-triangle-bottom"></i></a>
                         <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Applications</a></li>
                            <li class="disabled"><a href="#">Animation</a></li>
                            <li class="disabled"><a href="#">Design</a></li>
                        </ul>
                    </li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul></div>
            <!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav>
    
  
            
    <section id="intro" class="intro-section ">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12 intro-header">
                    <div class="intro-box">
                        <h1>Desmond Chan</h1>
                        <hr>
                        <h3>Online Resume </h3>
                        </div>
                </div>           
            </div>
        </div>
        <!--<img class="circuit-bottom" src="/assets/img/circuit-bottom.svg"/>-->
    </section>
            
     <!-- Profile Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title">
                     <h1>Profile</h1>
                     <h2> Web Developer </h2>
                     <hr>
                    </div>
                    
                <div class="col-md-4 sub-section">  
                    <h1>About Me</h1>     
                    <p class="about-description">As a recent graduate of the B.Sc Computer Science program from the University of Calgary, I decided to further specialize in the field by studying web development at the Southern Alberta Institute of Technology.</br></br> Although I am still new to web development, I see myself as a critical thinker and a problem solver with a strong background in programming and I am always looking to improve my skills through learning new languages and frameworks.  </br></br>
                    Recently I have moved to the Vancouver area and I am seeking new employment opportunities to grow my career in web or software development.</p>
                </div>
                <div class="col-md-4">
                </div>
                 <div class="col-md-4 ">
                     
                 </div>
            </div>
        </div>
    </section>
    
    <!-- Skills Section -->
    <section id="skills" class="skills-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-title">
                    <h1>Skills</h1>
                    <hr>
                  </div>  
                 <div class="col-md-8">
                    <div id="skillCarousel" class="carousel slide " data-ride="carousel" data-interval="false">
                   <div class="carousel-inner" role="listbox">
                       
                    <div class="item active">
                    <img src="/assets/img/html5-logo.svg" class="skill-svg" alt="HTML5 logo">
                  <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="skillcollapse" class="panel-collapse collapse in" >
                            <div class="panel-body">
                         
                        <ul class="skill-description">
                        <li>Responsive webpage construction</li>
                        <li>HTML structure and fundamentals</li> 
                        <li>Semantic HTML coding</li>
                        <li>Creating links to images, emails and other webpages</li>

                        </ul>
               
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                    <img src="/assets/img/css3-logo.svg" class="skill-svg" alt="CSS3 logo">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="csscollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
            
                        <ul class="skill-description">
                        <li>Using flexboxes to align items on a page</li>
                        <li>Creating basic CSS animations</li>
                        <li>Using SASS/SCSS preprocessors to easily maintain css files</li>
                        <li>Using CSS properties to style html elements</li>
                        <li>Implementing media queries for responsive layouts</li>

                        </ul>
                   
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                    <img src="/assets/img/js-logo.svg" class="skill-svg" alt="Javascript logo">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="jscollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                    
                        <ul class="skill-description">
                        <li>Creating objects and functions</li>
                        <li>Loops and conditionals</li>
                        <li>Using regular expressions,variables and data types</li>
                        <li>Calling javascript functions from HTML code</li>
                        <li>Using the jQuery library to animate elements on a page</li>               
                        </ul>
                 
                            </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="item">
                    <img src="/assets/img/angular-logo.svg" class="skill-svg" alt="Angular.js logo">
                    
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="angularcollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
            
                        <ul class="skill-description">
                        <li>Dependency injections and custom directives</li>
                        <li>Building single page applications</li>
                        <li>Understanding two-way data binding and the digest loop</li>
                        </ul>      
                    
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                    <img src="/assets/img/java-logo.svg" class="skill-svg" alt="Java logo">
                           <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                               <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="javacollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                     
                        <ul class="skill-description">
                        <li>File reading/writing</li>
                        <li>Class and object creation</li>
                        <li>Polymorphism and encapsulation</li>
                        <li>Exception handling and debugging</li>               
                        <li>Recursion and iteration</li>
                        </ul>
                  
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                        <div class="item">
                    <img src="/assets/img/php-logo.svg" class="skill-svg" alt="PHP logo">
                             <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="phpcollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                      
                        <ul class="skill-description">
                        <li>Using cookies and sessions</li>
                        <li>Encrypting form data</li>
                        <li>Connecting to a MySQL database with PHP</li>
                        <li>Creating forms with validation using regular expressions</li>
                        <li>File reading/writing</li>
                        </ul>
                   
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="item">
                    <img src="/assets/img/MySQL-logo.svg" class="skill-svg" alt="MySQL logo">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="mysqlcollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                     
                        <ul class="skill-description">
                        <li>Importing/exporting a database</li>
                        <li>Installing / maintaining databases with phpmyadmin and linux commands</li>
                        <li>Managing databases with MySQL Queries</li>
                        <li>Selecting / updating / deleting values and tables</li>
                        <li>Pairing MySQL with PHP for live updates to the database</li>
                        </ul>
                   
                            </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="item">
                    <img src="/assets/img/nodejs-logo.svg" class="skill-svg" alt="Node.js logo">
                    
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="nodecollapse" class="panel-collapse collapse in">
                            <div class="panel-body">             
                            <ul class="skill-description">
                                <li>Using npm to install and manage packages/dependencies</li>
                                <li>Setting up a node server to serve web pages and content</li>
                                <li>Managing files using templates and controllers</li>
                                <li>Connecting to a Mongo database</li>
                            </ul>      
                            </div>
                            </div>
                        </div>
                    </div>

                    
                        <div class="item">
                    <img src="/assets/img/Bootstrap-logo.svg" class="skill-svg" alt="Bootstrap logo">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="bootcollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                    
                        <ul class="skill-description">
                        <li>Creating modern website layouts</li>
                        <li>Designing websites for mobile devices</li>
                        <li>Implementing Bootstrap components such as carousels/accordion menus/stylized buttons </li>
                        </ul>
                   
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="item">
                    <img src="/assets/img/WordPress-logo.svg" class="skill-svg" alt="Wordpress logo">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                   <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="wpcollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                  
                        <ul class="skill-description">
                        <li>Setting up WordPress sites and linking them to databases</li>
                        <li>Installing themes and plugins</li>
                        <li>Further customizing themes using php, CSS and javascript</li>
                        </ul>
                 
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="item">
                    <img src="/assets/img/aws-logo.svg" class="skill-svg" alt="Amazon Web Services logo">
                    
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="awscollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                  
                        <ul class="skill-description">
                        <li>Setting up and installing packages on Amazon EC2 Instances</li>
                        <li>Using Amazon Route 53 DNS to set up and self-host a website</li>
                        <li>Installing phpmyadmin and mySQL on an EC2 instance</li>
                        </ul>
                    
                            </div>
                            </div>
                        </div>
                    </div>
                    
      
                    
                    
                    <div class="item">
                    <img src="/assets/img/aspnet-logo.svg" class="skill-svg" alt="ASP.NET logo">
                    
                      <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                    <label class="skill-set" data-toggle="false" data-parent="#accordion">
                                Relevant Skill Set</label>
                            </h4>
                            </div>
                            <div id="awscollapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                                 <p>Once I finish a few more courses on node.js, I plan on learning ASP.NET as my next step.</p>

                            </div>
                            </div>
                        </div>
                    </div>
                    
                    
    
  </div></div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#skillCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left control-green" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#skillCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right control-green" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                    <div class="col-md-4">
                   <div class="skill-menu">
                        <div class="panel-group skill-size" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                                Front End Skills</a>
                            </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                              <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="0">HTML5</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="1">CSS3</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="2">Javascript</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="3">Angular.js</a>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse2" >
                                Back End Skills</a>
                            </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="4">Java</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="5">PHP</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="6">MySQL</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="7">Node.js</a>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse3" >
                                Other Skills</a>
                            </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                    <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="8">Bootstrap</a>
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="9">Wordpress</a>
                                <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="10">Amazon EC2</a>
                            </div>
                            </div>
                        </div>
                                <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="menu-size" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                               Skills in Progress</a>
                            </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                    
                               <a href="#skillCarousel" class="hvr-sweep-to-right skill-button" data-slide-to="11">ASP.NET</a>
                             
                            </div>
                            </div>
                        </div>
                        
                        
                        </div>
                     </div></div>
                    
                    
               
                </div><!-- row div -->
                <div class="row">
                      <div class="col-lg-6 section-title">
                        <h1>Resume</h1>
                        <p>
                            Although this website briefly demonstrates and showcases my knowledge of front-end development,
                            I have also included my resume in PDF format which goes into further details about
                            my compentencies in other areas of computer science, including past work experience and
                            school projects unrelated to web development.
                        </p>
                        <a class="btn btn-default" href="/assets/files/Resume.pdf">PDF Resume</a>
                     </div>
                     <div class="col-lg-6 section-title">
                        <h1>Github</h1>
                        <p>
                            I plan on including all of my future projects on Github in order to have a better understanding
                            of version control as well as maintain better coding practices.
                        </p>
                        <a class="btn btn-default" href="https://github.com/DKMChan/">View my Github projects</a>
                     </div>
                     
                </div>
                
        </div>
    </section>
    
    
         <!-- Project Section -->
    <section id="project" class="project-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-title">
                     <h1>Projects</h1> 
                     <p>This section is currently under construction and will be updated with more sub-sections soon</p>  
                     <hr>  
                 </div>
                 <div class="col-md-4 sub-section">
                     <a href="/testapp">
                        <img src="/assets/img/todo-app-icon.svg" class="skill-svg"/>
                        <h1>To Do List Application</h1>
                     </a>
                     <hr>
                     <p class="text-center">A simple to do list application created using the MEAN stack. Although this application is still a work in progress, it demonstrates very basic but functional knowledge of the javascript stack.
                        As I learn more about the components, I plan on updating this app with more complex functionality and features. However, for now, it will simply store each entry into the NoSQL MongoDB and will delete the entry if
                        the user clicks the checkbox next to the item.
                        
                     </p>
                  </div>
                 <div class="col-md-4">
                </div>
                 <div class="col-md-4 ">
                     
                 </div>
              
            </div>
        </div>
    </section>
    
    
    <section id="contact" class="contact-section">
        <div class="container ">
            <div class="row ">
                
                <div class="col-lg-12 footer-section">
                    <h1>Contact</h1>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 align-contact">
                            <ul class="contact-icons">
                            <li><a class="contact-link" href="https://ca.linkedin.com/in/desmondkmchan"> <img src="/assets/img/LinkedIn-icon.svg"/>https://ca.linkedin.com/in/desmondkmchan</a></li>
                            <li><a class="contact-link email-link" href="mailto:desmondkmchan@gmail.com"> <img src="/assets/img/email-icon.svg"/>desmondkmchan@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
               
                 </div>
            </div>
        </div>
    </section>

            
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.mobile.custom.js"></script>
    <script src="/assets/js/custom-js.js"></script>
    </body>
</html>