<html>
    <head>
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Currently updating the website, please check back soon!</h1>
    </body>
</html>