@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif; 
}

.skill-size {
    width: 28em;
    max-width: 100%;
}

.circuit-left, .circuit-middle, .circuit-right{
    margin-top:-110px;
    max-width: 300px;
    min-width: 300px;
     
    
}


.circuit-middle{
    visibility: hidden;
}


.intro-flex{
    display: flex;
    justify-content: space-between;
}

.menu-size{
    font-size:1.2em;
    
}
a:hover, a:active{
    text-decoration: none;
    color: #1abc9c;
}

a:visited, a:link{
    text-decoration: none;
}

.intro-header{
    /*margin-top: 20%;*/
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.about-me p{
    text-align: left;
}

.about-description{
    font-size: 1.2em;
    padding: 15px;
    background: #1abc9c;
    border-radius: 15px;
}

.skill-svg{
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    min-width: 300px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.skills-flex{
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}

@media (max-width:750px) {

.intro-flex, .skills-flex{
    flex-direction: column;
    justify-content: space-around;
}

.skill-svg{
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}



.skill-size {
    margin-right: auto;
    margin-left:auto;
    margin-top: 2em;
    max-width: 100%;
    
}
.circuit-left{
    max-height:40vh;
    }
.circuit-right{
    max-height: 53vh;
    visibility:visible;
}

}


/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1abc9c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.skill-button{
    display: block;
    padding: 10px 0 10px 0;
    margin-right:auto;
    margin-left:auto;
    font-size: 1.5em;
    color: #1abc9c;
}
.skill-description{
    white-space: pre-wrap;
}
.skill-description li{
   
    text-align: left;
    
}

.skill-set{
    max-width: 28em;
    
    
}

@media (max-width:1200px)
{
 .circuit-right {
          content:url("/assets/img/circuit-middle.svg");
        }

}


.btn-lg{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
